@font-face {
  font-family: myFace;
  src: url(text.ttf);
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  
  background-color: #fdfdfd;
  margin: auto;
  color: magenta;
  padding: unset;
}

#shadow {
  -moz-box-shadow:    3px 3px 5px 1px rgb(250, 0, 0);
  -webkit-box-shadow: 3px 3px 5px 1px rgb(31, 31, 31);
  box-shadow:         3px 3px 5px 1px rgb(53, 53, 53);
}
.form-signin {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 330px;
  padding: 15px;
  border: 1px #160d2b;
  border-radius: 40px;
  box-shadow: -5px -6px 10px  #5b3f75, inset 4px 4px 5px #1e1527, 6px 6px 10px #150f1b,inset -4px -4px 5px #5b3f75;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;

}
i {
  border-radius: 35px;
  box-shadow: 3px 3px 3px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #afafaf;
  border-color: #140b16;
  
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-color: #140b16;
    background-color: #afafaf;
  text-decoration: red;
}
.form-signin input:focus {
  background-color: #4b3d69;
  
  transition: 1s;
}

.form-signin input:hover {
  background-color: #302744;
  scale: .99;
  transition:.5s;
}
.drshadow {
  filter:drop-shadow(0px 10px 3px #09404981);
  
  transition: 1s;
  
}
.drshadow:hover {
filter:drop-shadow(1px 1px 2px #ff00c8);
scale: .8;
transition: .5s;
translate: 0px 10px;
}

.bmshadow {
  box-shadow:  0px 2px 5px rgb(255, 0, 128);
}
#test {
  font-family: 'Exo 2', sans-serif;
  color: teal;
}

#ao123 {
  
  color: teal;
  size: 10;
 
}

#ao123:hover {
  stroke: #ff7300;
  transition: 2s;
}

.lshadow {
  border-radius:35px;
  box-shadow:  -2px -2px 5px #5b3f75, 4px 4px 5px #150f1b ;
}

html,
body {

  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


