@font-face {
  font-family: myFace;
  src: url(text.ttf);
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fafafa;
  margin: auto;
  color: magenta;
}

#shadow {
  -moz-box-shadow:    3px 3px 5px 1px rgb(250, 0, 0);
  -webkit-box-shadow: 3px 3px 5px 1px rgb(31, 31, 31);
  box-shadow:         3px 3px 5px 1px rgb(53, 53, 53);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: 1px #160d2b;
  border-radius: 40px;
  box-shadow: 0px -7px 7px  #d3d3d3, inset 0px 5px 5px #d3d3d3, 0px 9px 15px #383838,inset 0px -8px 10px #383838;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;

}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f0f0f0;
  box-shadow: inset 0px 5px 5px #a0a0a0;

  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f0f0f0;
  text-decoration: red;
  box-shadow: inset 0px -0px 4px #a0a0a0;
}
.form-signin input:focus {
  background-color: #636363;
  font: white;
}
img {
}
.drshadow {
  filter:drop-shadow(3px 12px 1px #adadad);
  transition: 1s;
}
.drshadow:hover {
filter:drop-shadow(1px 1px 2px #adadad);
transition: .5s;
}

.bmshadow {
  box-shadow:  0px 2px 5px rgb(255, 0, 128);
}
#test {
  font-family: 'Exo 2', sans-serif;
  color: teal;
}

#ao123 {
  font-family: myFace;
  color: teal;
}